<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vulnerable Page - Hardcoded Secret Example</title>
</head>
<body>
    <h1>Welcome to the Vulnerable Page</h1>
    <p>This page contains an API key hardcoded in the JavaScript file.</p>

    <p>Access the JavaScript by adding the url of the javascript file and append it to the current one.</p>

    <!-- Link to external JavaScript file -->
    <script src="js/hardcoded.js"></script>
</body>
</html>
