<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Links</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }
        a {
            text-decoration: none;
            color: #007BFF;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Vulnerabilities Links</h1>
    <ul>
        <li><a href="{% url 'login' %}">Insecure Authentication</a></li>
        <li><a href="{% url 'sensitive_data_exposure' %}">IDOR (Insecure Direct Object Reference)</a></li>
        <li><a href="{% url 'hardcoded_secrets' %}">Hardcoded Secrets</a></li>
        <li><a href="{% url 'swagger' %}">Swagger</a></li>
        <li><a href="{% url 'xss' %}">XSS (Cross-Site Scripting)</a></li>
        <li><a href="{% url 'search' %}">SQL Injection</a></li>
        <li><a href="{% url 'admin' %}">Broken Access Control</a></li>
    </ul>
</body>
</html>